[Desktop Entry]
Version=1.0
Type=Application
Name=RI Tracker
Comment=Remote Integrity Tracker Application
Exec=/home/foysal/Projects/RemoteIntegrity/RI-Tracker-Lite-Ubuntu/backend/dist/ri-tracker
Icon=/home/foysal/Projects/RemoteIntegrity/RI-Tracker-Lite-Ubuntu/backend/ritracker.png
Terminal=false
Categories=Office;Utility;
